@use 'variables' as v;

%btn {
  font-family: v.$body-font;
  font-size: v.$btn-size;
  letter-spacing: 1.25px;
  font-weight: 700;
  border-radius: 20px;
  border: none;
  padding: v.$spacing-sm v.$spacing-md;
  transition: all 0.15s ease;

  &:hover {
    cursor: pointer;
  }
}
.primary-btn {
  @extend %btn;
  background-color: v.$primary-accent;
  color: v.$text-light;

  &:hover {
    color: v.$primary-btn-hover;
  }
}

.secondary-btn {
  @extend %btn;
  background-color: transparent;
  color: v.$primary-accent;

  &:hover {
    opacity: 0.75;
  }
}

.with-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  & > img {
    transition: transform 0.25s ease;
  }

  &:hover > img {
    transform: translateX(4px);
  }
}

.navbar-btn {
  background-color: rgba(250, 250, 250, 0.25);

  &:hover {
    background-color: rgba(250, 250, 250, 0.5);
  }
}

.btn-container {
  display: flex;
  margin: v.$spacing-md 0;

  button:nth-of-type(2) {
    margin-left: v.$spacing-md;
    color: v.$purple-2;
  }
}
