@use 'variables' as v;

.footer {
  display: flex;
  justify-content: center;
  background-color: v.$bg-light;
  padding: var(--spacing-xl) 0;

  .section-container {
    display: flex;
  }

  .col {
    width: 25%;

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: var(--spacing-md) 0;
      }
    }

    a {
      color: v.$text-dark;
      font-weight: normal;

      &:hover {
        color: v.$purple-1;
        text-decoration: underline;
      }
    }
  }

  .icon-link {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: var(--spacing-sm);

    img {
      width: 24px;
    }
  }

  #footer-logo {
    max-width: 180px;
    margin-bottom: var(--spacing-md);
  }

  h3 {
    font-size: var(--$h6-size);
    font-weight: 700;
  }
}
