@use 'sass:map';

@mixin center-content() {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Media Queries */
$breakpoints: (
  'sm': 'only screen and (max-width: 550px)',
  'md': 'only screen and (max-width: 768px)',
  'lg': 'only screen and (max-width: 850px)',
  'xl': 'only screen and (max-width: 1144px)',
);

@mixin mq($breakpoint) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}
