@use 'normalize';
@use 'global';
@use 'variables' as v;
@use 'mixins' as m;

@use 'button';
@use 'navbar';
@use 'footer';

%subtitle {
  font-family: v.$heading-font;
  font-weight: 500;
  font-size: var(--subtitle-size);
  line-height: var(--subtitle-height);
}

.subtitle1 {
  @extend %subtitle;
  color: v.$purple-1;
}

.subtitle2 {
  @extend %subtitle;
  color: v.$blue-1;
}

.secondary-text {
  font-size: var(--secondary-text-size);
  line-height: var(--secondary-text-height);
  color: v.$text-grey;
  letter-spacing: 0.25px;
}
#gradient-canvas {
  background-color: purple;
  width: 200%;
  height: 970px;
  transform: rotate(-10deg);

  position: absolute;
  top: -600px;
  left: -50%;
  z-index: -1;

  --gradient-color-1: #ffcb57;
  --gradient-color-2: #ff333d;
  --gradient-color-3: #a960ee;
  --gradient-color-4: #90e0ff;

  @include m.mq(sm) {
    height: 820px;
  }
}

.hero {
  @include m.center-content;

  p {
    max-width: 480px;
  }

  .col-left h1 {
    opacity: 0.7;
  }

  .hero-phone-container {
    height: 564px;
    align-items: flex-end;

    @include m.mq(sm) {
      display: none;
    }
  }

  .hero-phone {
    height: 628px;
    transform: translate(32px, -32px);
    @include m.mq(md) {
      height: 457px;
      transform: translate(32px, 0);
    }
  }

  @include m.mq(md) {
    .section-container {
      align-items: center;
    }

    .col-left {
      width: 60%;
    }

    .col-right {
      width: 40%;
    }
  }

  @include m.mq(xs) {
    .section-container {
      padding-left: 0;
    }
  }
}

.partners-section {
  @include m.center-content;

  @include m.mq(md) {
    .section-container {
      padding-top: 0;
    }
  }

  .partners-grid {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    margin: var(--spacing-xl) 0;
    column-gap: var(--spacing-md);
    row-gap: var(--spacing-lg);
    @include m.mq(sm) {
      grid-template-columns: 1fr 1fr;
    }

    img {
      // height: 60px;
      width: 100%;
      height: auto;
      place-self: center;
    }
  }
}

.unified-platform-section {
  @include m.center-content;
  padding: var(--spacing-xl) 0;
  background-color: v.$bg-light;
  @include m.mq(sm) {
    padding: var(--spacing-lg) 0;
  }

  .primary-btn {
    background-color: v.$purple-1;

    &:hover {
      background-color: v.$primary-accent;
    }
  }

  h2 {
    width: 50%;
    margin-bottom: var(--spacing-md);

    @include m.mq(md) {
      width: 100%;
    }
  }
}

.graphic-section {
  @include m.center-content;
  background-color: v.$bg-light;

  .graphic-grid {
    display: grid;
    grid-template-areas:
      'card slack slack'
      'phone slack slack'
      'phone dash dash';
    grid-gap: var(--spacing-lg);

    & > img {
      width: 100%;
    }

    #credit-card,
    #slack-invoice,
    #phone,
    #dash {
      box-shadow: v.$standard-box-shadow;
      border-radius: v.$standard-border-radius;
      @include m.mq(xl) {
        border-radius: 15px;
      }
      @include m.mq(md) {
        border-radius: 10px;
      }
      @include m.mq(xs) {
        border-radius: 5px;
      }
    }

    #credit-card {
      grid-area: card;
    }

    #slack-invoice {
      grid-area: slack;
    }

    #phone {
      box-shadow: none;
      grid-area: phone;
    }

    #dash {
      grid-area: dash;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: var(--spacing-sm) var(--spacing-md) var(--spacing-sm) 0;

  .icon {
    height: 50px;
    margin-bottom: var(--spacing-sm);
  }

  h3 {
    font-family: v.$heading-font;
    font-size: var(--h6-size);
    font-weight: 500;
    margin: 0;
    width: 100%;
  }
}

.integrations-section {
  @include m.center-content;
  color: v.$text-light;
  position: relative;
  z-index: 1;
  padding: calc(var(--spacing-xl) * 3) 0;
  @include m.mq(sm) {
    padding: var(--spacing-xl) 0;
  }

  &::before {
    content: '';
    width: 100%;
    height: 1100px;
    background-color: v.$primary-accent;
    @include m.mq(sm) {
      height: 1050px;
    }
    @include m.mq(xs) {
      height: 1150px;
    }

    position: absolute;
    top: -32px;
    left: 0;
    z-index: -1;

    transform: skewY(-10deg);
  }

  &::after {
    content: '';
    background-color: v.$bg-light;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }

  .card-container {
    display: flex;
    margin: var(--spacing-lg);
    @include m.mq(xl) {
      flex-direction: column;
    }

    .card {
      width: 50%;
      @include m.mq(xl) {
        width: 100%;
      }
    }
  }

  .primary-btn {
    background-color: v.$blue-1;
    color: v.$primary-accent;
    margin-top: var(--spacing-md);

    &:hover {
      background-color: v.$bg-white;
    }
  }

  .secondary-btn {
    color: v.$blue-1;
  }

  @include m.mq(lg) {
    .col-left {
      width: 60%;
    }
    .col-right {
      width: 40%;
    }
  }

  @include m.mq(md) {
    .col-left {
      width: 100%;
    }
    .col-right {
      display: none;
    }
  }
}

#api-code,
#terminal-code {
  max-width: 470px;
  border-radius: 5px;
}

#api-code {
  margin-bottom: var(--spacing-md);
}

.why-easypay-section {
  @include m.center-content;
  padding: calc(var(--spacing-xl) * 3) 0;
  @include m.mq(xl) {
    padding: calc(var(--spacing-xl) * 1.5) 0;
  }
  @include m.mq(sm) {
    padding: var(--spacing-xl) 0;
  }

  .card-container {
    display: flex;
    margin: var(--spacing-lg) 0;
    @include m.mq(md) {
      flex-wrap: wrap;
    }

    .card {
      width: 25%;
      padding-right: var(--spacing-sm);
      margin-right: var(--spacing-md);
      @include m.mq(md) {
        width: 50%;
        margin: var(--spacing-md) 0;
      }
      @include m.mq(sm) {
        width: 100%;
        margin: var(--spacing-sm) 0;
      }

      .icon {
        @include m.mq(sm) {
          height: 35px;
        }
      }

      h3 {
        font-size: 1.5rem;
      }
    }
  }

  .secondary-text {
    color: v.$text-dark;
  }
}

.global-section {
  @include m.center-content;
  color: v.$text-light;

  padding-top: calc(var(--spacing-xl) * 3);
  @include m.mq(sm) {
    padding-top: var(--spacing-xl);
  }

  position: relative;

  &::before {
    content: '';
    width: 100%;
    height: 1200px;
    background-color: v.$primary-accent;

    position: absolute;
    top: -32px;
    left: 0;
    z-index: -1;
    transform: skewY(-10deg);
  }

  a {
    color: v.$blue-1;

    &:hover {
      color: v.$text-light;
    }
  }

  .card-container {
    display: flex;
    margin: calc(var(--spacing-xl) * 2) 0;
    @include m.mq(md) {
      flex-wrap: wrap;
      margin: var(--spacing-xl) 0;
    }
    @include m.mq(sm) {
      margin: var(--spacing-md) 0;
    }

    .card {
      width: 25%;
      padding-right: var(--spacing-sm);
      margin-right: var(--spacing-md);
      @include m.mq(md) {
        width: 50%;
        margin: var(--spacing-md) 0;
      }
      @include m.mq(sm) {
        width: 100%;
        margin: var(--spacing-sm) 0;
      }

      h3 {
        border-left: 2px v.$blue-1 solid;
        padding-left: var(--spacing-sm);
        line-height: 28px;
      }
    }
  }

  #globe {
    opacity: 0.25;
    max-width: 844px;

    position: absolute;
    top: 10%;

    @include m.mq(sm) {
      opacity: 0.1;
    }
  }
}

.virtual-events-section {
  @include m.center-content;
  padding: calc(var(--spacing-xl) * 2) 0;
  position: relative;
  @include m.mq(lg) {
    padding: var(--spacing-xl) 0;
  }
  @include m.mq(sm) {
    padding: 0 0 var(--spacing-lg) 0;
  }

  &::before {
    content: '';
    background-color: v.$bg-white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .primary-btn {
    background-color: v.$purple-1;
    margin-top: var(--spacing-md);

    &:hover {
      background-color: v.$primary-accent;
    }
  }

  .card-bottom {
    width: 100%;
    height: 50%;
    padding: var(--spacing-xl);

    .subtitle1 {
      margin-top: var(--spacing-lg);
    }

    .secondary-text {
      color: v.$text-dark;
      width: 50%;
      font-weight: 700;

      @include m.mq(sm) {
        width: 100%;
      }
    }
  }

  .col-left {
    height: 446px;
    padding-right: var(--spacing-xl);

    @include m.mq(sm) {
      margin-bottom: var(--spacing-md);
    }
    @include m.mq(xs) {
      margin-bottom: var(--spacing-lg);
    }
  }

  .easypay-sessions-card {
    width: 540px;
    height: 446px;
    border-radius: v.$standard-border-radius;
    box-shadow: v.$standard-box-shadow;
    overflow: hidden;
    @include m.mq(sm) {
      width: 100%;
    }

    .card-top {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      @include m.mq(sm) {
        height: 45%;
      }

      &::before {
        content: '';
        background: v.$primary-gradient;
        width: 100%;
        height: 150%;
        position: absolute;
        top: -40%;
        z-index: -1;
        transform: skewY(-5deg);
      }
    }

    #sessions-logo {
      width: 474px;
      margin-top: 2rem;

      @include m.mq(sm) {
        width: 370px;
      }
      @include m.mq(xs) {
        width: 300px;
      }
    }

    .avatars {
      position: absolute;
      bottom: -70px;
      left: var(--spacing-xl);
      // width: 140px;
      // height: 80px;

      img {
        width: 90px;
      }

      img:nth-of-type(2) {
        position: absolute;
        left: 65px;
      }
    }
  }
}

.getting-started-section {
  display: flex;
  justify-content: center;
  padding: var(--spacing-xl) 0;

  .two-column {
    @include m.mq(md) {
      align-items: center;
    }
  }

  .col-right {
    flex-direction: row;
    @include m.mq(md) {
      flex-wrap: wrap;
    }

    .card {
      width: 50%;
      @include m.mq(md) {
        width: 100%;
        margin: var(--spacing-md) 0;
      }

      .secondary-btn {
        color: v.$purple-2;
        padding-left: 0;
      }
    }
  }

  .col-left {
    padding-right: var(--spacing-xl);
    @include m.mq(sm) {
      margin-bottom: var(--spacing-lg);
    }

    .primary-btn {
      background-color: v.$purple-1;
      margin-top: var(--spacing-md);

      &:hover {
        background-color: v.$primary-accent;
      }
    }
  }
}
